<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Big Board Creator</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto&display=swap" rel="stylesheet"> 

</head>
<body>
    <header>
            <h1>Big Board Creator</h1>
            <% if (user) { %>
                <form method="post" action="/auth/logout" id="logout">
                    <input class='out' type="submit" value="" title="Logout">
                </form>
            <%} else { %>
                <form action="/auth/login">
                    <input class='in' type="submit" value="" title="Login">
                </form>
            <% } %>
    </header>
    <main> 
        <p class="about">Welcome to the ultimate resource for NBA draft enthusiasts and basketball fans alike. 
            Our NBA Draft Tool is a powerful and user-friendly platform designed to empower you to create your very own big board, mock draft and tier list for the NBA draft cycle.
             Whether you're a seasoned scout, a die-hard fan, or just curious about the future of the league, our tool is your go-to companion.
        </p>

        <% if (!user) { %>
        <p> Please login in order to save your board or tier list</p>
        <%}%>

        <section class="big-screen option top">
            <div class="text">
            <h2>Big Board</h2> 
            <p class="let-bot">Create a big board that represents your rankings of the 30 best NBA prospects</p>
            <% if (user) { %>
                <form action="/ranked/<%= user.userName%>">
                    <input class="btn1" type="submit" value="View Bigboard">
                </form>
            <% } else { %>
                <form action="/ranked/">
                    <input class="btn1" type="submit" value="View Bigboard">
                </form>
            <% } %>   
            </div>
            <img class="img" src="../img/bigboard2.png">
        </section> 
        <section class="small-screen option top">
            <h2>Big Board</h2> 
            <img src="../img/bigboard.png">
            <p>Create a big board that represents the best 30 players in the draft class</p>
            <% if (user) { %>
                <form action="/ranked/<%= user.userName%>">
                    <input class="btn1" type="submit" value="View Bigboard">
                </form>
            <% } else { %>
                <form action="/ranked/">
                    <input class="btn1" type="submit" value="View Bigboard">
                </form>
            <% } %> 
        </section>

        <section class="big-screen option mid">
            <img class="midimg" src="../img/tierboard2.png"> 
            <div class="text">
                <h2>Tier List</h2>
                <p>Seperate prospects into your own custom made tiers</p>
                <% if (user) { %>
                    <form action="/tier/<%= user.userName%>">
                        <input class="btn1" type="submit" value="View Tierlist">
                    </form>
                <% } else { %>
                    <form action="/tier/">
                        <input class="btn1" type="submit" value="View Tierlist">
                    </form>
                <% } %> 
            
            </div> 
        </section>
        <section class="small-screen option mid">
            <h2>Tier List</h2> 
            <img src="../img/tierboard.png">
            <p>Seperate prospects into your own custom made tiers</p>
            <% if (user) { %>
                <form action="/tier/<%= user.userName%>">
                    <input class="btn1" type="submit" value="View Tierlist">
                </form>
            <% } else { %>
                <form action="/tier/">
                    <input class="btn1" type="submit" value="View Tierlist">
                </form>
            <% } %> 
        </section>

        <section class="big-screen option bot">
            <div class="text">
                <h2>Mock Board</h2>
                <p>Simulate the NBA Lottery and create your own mock draft</p>
                <% if (user) { %>
                    <form action="/mock/<%= user.userName%>">
                        <input class="btn1" type="submit" value="View Bigboard">
                    </form>
                <% } else { %>
                    <form action="/mock/">
                        <input class="btn1" type="submit" value="View Mock">
                    </form>
                <% } %> 
            </div>
            <img class="img" src="../img/mockdraft2.png">
        </section>
        <section class="small-screen option bot">
            <h2>Mock Board</h2> 
            <img src="../img/mockdraft.png">
            <p>Simulate the NBA Lottery and create your own mock draft</p>
            <% if (user) { %>
                <form action="/mock/<%= user.userName%>">
                    <input class="btn1" type="submit" value="View Bigboard">
                </form>
            <% } else { %>
                <form action="/mock/">
                    <input class="btn1" type="submit" value="View Mock">
                </form>
            <% } %> 
            </section>
    </main>
</body>
</html>