<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/mock.css">
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
        <title>Mock Draft</title>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <h1>Mock Draft</h1>
            <div>
                <% if (user) { %>
                    <form method="post" action="/auth/logout" id="logout">
                        <input type="submit" value="Logout">
                    </form>
                <%} else { %>
                    <a href="/auth/login">Login</a>
                <% } %>
            </div>
        </nav>
        <section class="content">
            <div class="carousel-container">
                <% playerArr.forEach((player, index) => {%>
                    <div class="card-container">
                        <div class="card" data-id="<%=player._id%>">
                            <div class="col1">
                                <div class="pImg">
                                    <img src="../img/<%=player.firstName%><%=player.lastName%>.png" alt="">
                                </div>
                                <div class="pInfo">
                                    <div class="pName">
                                        <span><%=player.firstName%></span>
                                        <span><%=player.lastName%></span>
                                    </div>
                                    <div class="pInfo2">
                                        <span><%=player.height%> |</span>
                                        <span><%=player.position%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="stat">
                                    <span><%=player.PTS%></span>
                                    <span>PTS</span>
                                </div>
                                <div class="stat">
                                    <span><%=player.REB%></span>
                                    <span>REB</span>
                                </div>
                                <div class="stat">
                                    <span><%=player.AST%></span>
                                    <span>AST</span>
                                </div>
                            </div>
                        </div>
                    </div>
                <%})%>
            </div>
            <section class="board">
                <button class="simLottery">Sim Lottery</button> 
                <div class="sortContainer">
                    <div class="sort">
                        <button class="sortBtn sortByName">Name</button>
                        <button class="sortBtn sortByPos">POS</button>
                        <button class="sortBtn sortByPoints">PTS</button>
                        <button class="sortBtn sortByReb">REB</button>
                        <button class="sortBtn sortByAst">AST</button>
                    </div> 
                </div>
                <div class="board-container">
                </div>
            </section>
        </section>
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
        <script src="../js/mock.js"></script>
        <% if (user) { %>
            <script>window.onload = getUserBoard()</script>
        <% } %>
    </body>
</html>