<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="css/reset.css">
    <link rel="stylesheet" href="css/ranked.css">
    <title>Big Board</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <div>
            <% if (user) { %>
                <form method="post" action="/auth/logout" id="logout">
                    <input type="submit" value="logout">
                </form>
            <%} else { %>
                <a href="/auth/login">Login</a>
            <% } %>
        </div>
    </nav>
    <div class="carousel-container">
        <div class="carousel-inner">
            <div class="track">
                <% playerArr.forEach((player, index) => {%>
                    <div class="card-container">
                        <div class="card" data-id="<%=index%>">
                            <div class="col1">
                                <div class="pImg">
                                    <img src="img/<%=player.firstName%><%=player.lastName%>.png" alt="">
                                </div>
                                <div class="pInfo">
                                    <div class="pName">
                                        <span><%=player.firstName%></span>
                                        <span><%=player.lastName%></span>
                                    </div>
                                    <div class="pInfo2">
                                        <span><%=player.height%> |</span>
                                        <span><%=player.position%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="stat">
                                    <span><%=player.PTS%></span>
                                    <span>PTS</span>
                                </div>
                                <div class="stat">
                                    <span><%=player.REB%></span>
                                    <span>REB</span>
                                </div>
                                <div class="stat">
                                    <span><%=player.AST%></span>
                                    <span>AST</span>
                                </div>
                            </div>
                        </div>
                    </div>
                <%})%>
            </div>
        </div>
        <div class="nav">
            <button class="previous"> < </button>
            <button class="next"> > </button>
        </div>
    </div>     
    <div class="board-container">
    </div>
    <% if (user) { %>
        <button class="save">Save Board</button>
    <%} else { %>
        <a href="/auth/login">Please login to save your board</a>
    <% } %>
    <script src="js/script.js"></script>
</body>
</html>